
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.connectedStatus{
    padding: 15px;
 color: blue;
    margin: 5px;
    
}

.conseillerNavList {
    display: flex;
    justify-content: flex-end;
    list-style: none;
   
}

.nav-item {
    padding: 5px;
    border: 1px solid blue;
    border-radius: 3px;
    margin: 5px;
    
}