<nav class="menu">
    <ol ng-init="value=0">
      <li class="menu-item" ><a (click)="value = O">Conseiller Home</a></li>
      <li class="menu-item"><a (click)="value = 1">Validation Nouveau Comptes</a></li>
      <li class="menu-item"><a (click)="value = 2">Gestion Compte Clients</a></li>

  
    </ol>
  </nav>
  
  <div [ngSwitch]="value">
      <app-conseiller-home *ngSwitchCase=0></app-conseiller-home>
      <app-gestion-compte-clients *ngSwitchCase=1></app-gestion-compte-clients>
      <app-valide-nouveau-compte *ngSwitchCase=2></app-valide-nouveau-compte>

  </div>

