<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<div class="alert alert-primary" role="alert">
  <h4 >Ajouter un conseiller</h4>
  <p >Le matricule est généré automatiquement</p>
</div>

<form action="">
  <div class="container px-lg-5">
    <div class="row mx-lg-n5">
      <div class="col py-3 px-lg-5 border bg-light">
        <div class="form-group">

          <input [(ngModel)]="myNewAdvisor.nom" type="text" class="form-control" name="Nom" placeholder="Nom">
        </div>
        <div class="form-group">

          <input [(ngModel)]="myNewAdvisor.prenom" type="text" class="form-control" name="prenom" placeholder="prenom">
        </div>
        <div class="form-group">

          <input [(ngModel)]="myNewAdvisor.email" type="email" class="form-control" name="email" placeholder="email">
        </div>
        <div class="form-group">

          <input [(ngModel)]="myNewAdvisor.adresse" type="text" class="form-control" name="adresse" placeholder="adresse">
        </div>
      </div>
      <div class="col py-3 px-lg-5 border bg-light">
        <div class="form-group">
                   <input [(ngModel)]="myNewAdvisor.ville" type="text" class="form-control" name="ville" placeholder="ville" >
        </div>
        <div class="form-group">

          <input [(ngModel)]="myNewAdvisor.cp" type="number" class="form-control" name="cp" placeholder="Code Postal">
        </div>
        <div class="form-group">

          <input [(ngModel)]="myNewAdvisor.dateEmbauche" type="date" class="form-control" name="dateembauche" placeholder="date d'embauche">
        </div>
        <div class="form-group">

          <input [(ngModel)]="myNewAdvisor.tel" type="number" class="form-control" name="tel" placeholder="téléphone">
        </div>
      <button type="submit" class="btn btn-primary" (click)="iAddAConsultant()"
        [routerLink]="['/manager/gestiondesagents']">Enregistrer un Agent</button>
      </div>
    </div>
  </div>


</form>
