<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Ajouter un conseiller</h4>
                      <p class="card-category">Le matricule est généré automatiquement</p>
                  </div>
                  <div class="card-body">
                      <form>

                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">

                                  <input matInput  [(ngModel)]="myNewAdvisor.consNom" placeholder="Nom" name="Nom" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                   <input matInput [(ngModel)]="myNewAdvisor.consPrenom" type="text" name="prenom" placeholder="prenom">

                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">


                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput [(ngModel)]="myNewAdvisor.consEmail" type="email"  name="email" placeholder="email">




                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                   <input matInput [(ngModel)]="myNewAdvisor.consAdresse" type="text"  name="adresse" placeholder="adresse">



                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                 <input matInput [(ngModel)]="myNewAdvisor.consVille" type="text"  name="ville" placeholder="ville" >


                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                 <input matInput [(ngModel)]="myNewAdvisor.consCp" type="number"  name="cp" placeholder="Code Postal">


                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput [(ngModel)]="myNewAdvisor.consDateEmbauche" type="date"  name="dateembauche" placeholder="date d'embauche">



                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">

                                <mat-form-field class="example-full-width">
                                   <input matInput [(ngModel)]="myNewAdvisor.consTel" type="string"  name="tel" placeholder="téléphone">
                                 </mat-form-field>

                              </div>
                          </div>
                             <button mat-raised-button  type="submit" class="btn btn-danger pull-right" (click)="iAddAConsultant()"
        [routerLink]="['/manager/gestiondesagents/0']">Ajouter un Agent</button>

                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>











