<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<div class="alert alert-primary" role="alert">
  <h4 >Ajouter un conseiller</h4>
  <p >Le matricule est généré automatiquement</p>
</div>

<form action="">
  <div class="container px-lg-5">
    <div class="row mx-lg-n5">
      <div class="col py-3 px-lg-5 border bg-light">
        <div class="form-group">
          <label for="email">Nom</label>
          <input type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
          <label for="pwd">prenom</label>
          <input type="text" class="form-control" id="pwd">
        </div>
        <div class="form-group">
          <label for="pwd">email</label>
          <input type="email" class="form-control" id="pwd">
        </div>
        <div class="form-group">
          <label for="pwd">adresse</label>
          <input type="text" class="form-control" id="pwd">
        </div>
      </div>
      <div class="col py-3 px-lg-5 border bg-light">
        <div class="form-group">
          <label for="pwd">Ville</label>
          <input type="text" class="form-control" id="pwd">
        </div>
        <div class="form-group">
          <label for="pwd">Code postale</label>
          <input type="number" class="form-control" id="pwd">
        </div>
        <div class="form-group">
          <label for="pwd">date d'embauche</label>
          <input type="date" class="form-control" id="pwd">
        </div>
        <button type="submit" class="btn btn-primary">Créer</button>
      </div>
    </div>
  </div>


</form>
