
<div class="titleBox">
  <h2 class="titleText">
    Gestion des Comptes Clients
  </h2>
</div>

<div class="row" id="mainContainer">
<div class="col-2 mx-3">
  <h3>Mes Clients</h3>
  <ul class="list-group">
    <li *ngFor="let client of clients"
    [class.selected]="client === selectedClient"
    (click)="onSelect(client)"
    class="list-group-item"
    >
      <span class="badge badge-secondary">{{client.clientId}}</span> {{client.clientNom}}, {{client.clientPrenom}}
    </li>
  </ul>
</div>

<div  *ngIf="show" class="col-8 mx-3">
  <app-client-detail [client]="selectedClient" [comptecli]="comptesDuClient" [showCompteFlag]=false ></app-client-detail>
</div>

</div>


