<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<div class="alert alert-primary" role="alert">
  <h4>Affectation Clients - Conseillers</h4>

</div>


    <div class="row">
      <div class="card col-sm" id="clients">
        <div class="card-header card-header-warning">
          <h4 class="card-title">Liste des Clients</h4>
          <p class="card-category">Les clients suivants n'ont pas encore été assignés</p>
        </div>
        <div class="card-content table-responsive table-full-width">
          <div ng-app="myApp" ng-controller="charactersCtrl" class="list-group">
            <input [(ngModel)]="searchText1" placeholder="search text goes here" class="form-control">
            <div>
              <ul>
                <li *ngFor="let myclient of myClientList | filter2 : searchText1" (click)="clientsChoice(myclient)"
                  class="list-group-item d-flex justify-content-between align-items-center py-0">
                  {{myclient.id}} {{myclient.nom}} {{myclient.prenom}}
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>


      <div class="card col-sm" id="conseillers">
         <div class="card-header card-header-warning">
           <h4 class="card-title">Liste des conseillers</h4>
           <p class="card-category">Choisir un conseiller dans la liste</p>
         </div>
         <div class="card-content table-responsive table-full-width">
          <div ng-app="myApp" ng-controller="charactersCtrl" class="list-group">
            <input [(ngModel)]="searchText" placeholder="rechercher un agent" class="form-control"
              (input)="displaycard=false">

            <div>
              <ul>
                <li *ngFor="let individu of myAgentList | filter : searchText" (click)="agentsChoice(individu)"
                  class="list-group-item d-flex justify-content-between align-items-center py-0">
                  {{individu.nom}} {{individu.prenom}}
                </li>
              </ul>
            </div>
          </div>

         </div>
         <div class="row">
      <button type="button" id="assignButton" class="btn btn-success text-center" (click)="assigneclienttoconselor()">Assigner</button>
    </div>
    </div> <!-- end row-->



