<div class="main-content">
  <div class="container-fluid">
    <div class="alert alert-primary" role="alert">
      <h4>Affectation Clients - Conseillers</h4>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Liste des Clients</h4>
            <p class="card-category">
              Les clients suivants n'ont pas encore été assignés
            </p>
          </div>
          <div ng-app="myApp" ng-controller="charactersCtrl" class="list-group">
            <div class="card-body">
              <div class="table-responsive">
                <div class="input-group no-border">
                  <input
                    type="text"
                    [(ngModel)]="searchText1"
                    class="form-control"
                    placeholder="rechercher un Client"
                    (input)="displaycard = false"
                  />
                  <button
                    type="submit"
                    class="btn btn-info"
                    (click)="searchText1 = ''"
                  >
                    <span class=" fa fa-arrow-left" title="effacer"></span>
                  </button>
                </div>

                <table class="table">
                  <thead *ngIf="showclient" class=" text-primary">
                    <th>
                      ID
                    </th>
                    <th>
                      Nom
                    </th>
                    <th>
                      Prenom
                    </th>
                    <th>
                      adresse
                    </th>
                    <th>
                      tel
                    </th>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="
                        let myclient of myClientList | filter2: searchText1
                      "
                      (click)="clientsChoice(myclient)"
                    >
                      <td>
                        {{ myclient.id }}
                      </td>
                      <td>
                        {{ myclient.nom }}
                      </td>
                      <td>
                        {{ myclient.prenom }}
                      </td>
                      <td>
                        {{ myclient.adresse }} {{ myclient.codePostale }}
                        {{ myclient.ville }}
                      </td>
                      <td>
                        {{ myclient.telephone }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-6">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Liste des conseillers</h4>
            <p class="card-category">
              Choisir un conseiller dans la liste
            </p>
          </div>
          <div ng-app="myApp" ng-controller="charactersCtrl" class="list-group">
            <div class="card-body">
              <div class="table-responsive">
                <div class="input-group no-border">
                  <input
                    type="text"
                    [(ngModel)]="searchText"
                    class="form-control"
                    placeholder="rechercher un agent"
                    (input)="displaycard = false"
                  />
                  <button
                    type="submit"
                    class="btn btn-info"
                    (click)="searchText = ''"
                  >
                    <span class=" fa fa-arrow-left" title="effacer"></span>
                  </button>
                </div>

                <table class="table">
                  <thead *ngIf="showconseiller" class=" text-primary">
                    <th>
                      MLE
                    </th>
                    <th>
                      Nom
                    </th>
                    <th>
                      Prenom
                    </th>
                    <th>
                      adresse
                    </th>
                    <th>
                      tel
                    </th>
                    <th>
                      Nb de client
                    </th>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let individu of myAgentList | filter: searchText "
              (click)="agentsChoice(individu)"
                    >
                      <td>
                        {{ individu.consId }}
                      </td>
                      <td>
                        {{ individu.consNom }}
                      </td>
                      <td>
                        {{individu.consPrenom }}
                      </td>
                      <td>
                        {{individu.consAdresse }} {{individu.consCp }}
                        {{individu.consVille }}
                      </td>
                      <td>
                        {{individu.consTel }}
                      </td>
                      <td>
                        <h3><span class="badge badge-danger" title="Nombre de client">{{numberOfClientByConselor( individu.consId)}}</span></h3>
                      </td>

                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
         <button mat-raised-button  type="submit" class="btn btn-success pull-right" (click)="assigneclienttoconselor()"
        [routerLink]="['/manager/affectation']">Assigner {{agentselectionner.consNom}} à {{clientselectionner.nom}}</button>

      </div>
    </div>
  </div>
</div>



