.formRow, .formItem {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

.clientBox {
    background-color: #EEE;
    border-radius: 30px;
    padding: 30px;
}