

<div *ngIf="client" class="clientBox">

  <div class="card">
  <div class="card-header card-header-danger">
    <h5 class="card-title">{{client.prenom}} {{client.nom| uppercase}}</h5>
    <p class="card-category"><span>id: {{client.id}} </span></p>
</div>
<div class="card-body">
    <form>

        <div class="formRow">
            <div class="formItem">
              <label for="prenom">Prénom</label>
              <input name="prenom" type="text" [(ngModel)]=client.prenom>            
            </div>
            <div class="formItem">           
              <input name="nom" type="text" [(ngModel)]=client.nom>        
            </div>
        </div>

        <div class="formRow">
          <div class="formItem">    
            <input name="email" type="email" [(ngModel)]=client.email>             
          </div>
          <div class="formItem">    
            <input name="telephone" type="text" [(ngModel)]=client.telephone>             
          </div>
      </div>

        <div class="formRow">
            <div class="formItem">            
              <input name="adresse" type="text" [(ngModel)]=client.adresse>        
            </div>
        </div>

        <div class="formRow">
            <div class="formItem">          
              <input name="ville" type="text" [(ngModel)]=client.ville>             
            </div>          
            <div class="formItem">             
              <input name="codePostal" type="text" [(ngModel)]=client.codePostale>            
            </div>
        </div>
        
        <button mat-raised-button type="submit" class="btn btn-danger pull-right">Actualiser</button>
        
    </form>
</div>
</div> <!-- fin client card -->

<li *ngFor="let compteClient of compteClients" >

    <!--   [class.selected]="client === selectedClient"
    (click)="onSelect(client)"-->

      Compte numéro: {{compteClient.numeroCompte}}, solde: {{compteClient.solde}}
    </li>


</div>
