
<nav class="menu">
  <ol ng-init="value=0">
    <li class="menu-item" ><a (click)="value = 2">gestiondesagents</a></li>
    <li class="menu-item"><a (click)="value = 1">agent-profile-création</a></li>
    <li class="menu-item"><a (click)="value = 3">affectation</a></li>
    <li class="menu-item"><a routerLink="/">deconnecter</a></li>

  </ol>
</nav>

<div [ngSwitch]="value">
    <app-agent-profile *ngSwitchCase=1></app-agent-profile>
    <app-gestiondesagents *ngSwitchCase=2></app-gestiondesagents>
    <app-affectation *ngSwitchCase=3></app-affectation>
</div>




