<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<div class="alert alert-primary" role="alert">
  <h4>Gestion des Agents</h4>
</div>
<nav class="menu">
  <ol >

    <li
       [routerLink]="['/manager/gestiondesagents']"><a (click)='mychoice(0)'>Fiche Agent</a>
       <div [ngClass]="calculateclass()"></div>
       </li>
    <li [routerLink]="['/manager/profile']"><a (click)='mychoice(1)'>Ajouter Agent</a>

    </li>
    <li [routerLink]="['/manager/modifierunagent']"><a (click)='mychoice(2)'>modifier Agent</a></li>
    <li [routerLink]="['/manager/suprimerunagent']"><a (click)='mychoice(3)'>Enlever Agent</a></li>
    <li [routerLink]="['/manager/affectation']"><a (click)='mychoice(4)'>affectation</a></li>
    <li [routerLink]="['']"><a >deconnecter</a>
    </li>

  </ol>
</nav>
<router-outlet></router-outlet>
<footer>Made by Jean Charles Gouleau</footer>
