<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="alert alert-primary" role="alert">
  <h4>Fiche Agents</h4>

</div>
<div class="row" >
  <div class="col-4">
<div ng-app="myApp" ng-controller="charactersCtrl" class="list-group" >
  <input [(ngModel)]="searchText" placeholder="rechercher un agent" class="form-control"
    (input)="displaycard=false">

<div>
  <ul >
    <li *ngFor="let individu of myAgentList | filter : searchText" (click)="agentsChoice(individu)"
      class="list-group-item d-flex justify-content-between align-items-center py-0" >
      {{individu.nom}} {{individu.prenom}}
    </li>
  </ul>
</div>
</div>
    </div>
    <div class="col-1" >
      <button type="submit" class="btn btn-info" (click)="searchText=''"><span class=" fa fa-arrow-left" title="effacer"></span>
      </button></div>
<div *ngIf="displaycard">
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
<div class="blog-card spring-fever">
  <div class="title-content">
    <h3>{{agentselectionner.nom}} {{agentselectionner.prenom}}</h3>
    <hr />
    <div class="intro ">tel: {{agentselectionner.tel}}</div>
    <div class="intro ">adresse: {{agentselectionner.adresse}}</div>
    <div class="intro ">Ville: {{agentselectionner.cp}} {{agentselectionner.ville}}</div>
  </div><!-- /.title-content -->
  <div class="card-info">
   Voici mon mail: {{agentselectionner.email}}
  </div><!-- /.card-info -->
  <div class="utility-info">
    <ul class="utility-list">
      <li class="comments">Numéro mle: {{agentselectionner.mle}}</li>
      <li class="date">Date
          d'embauche: {{agentselectionner.dateEmbauche}}</li>
    </ul>
  </div><!-- /.utility-info -->
  <!-- overlays -->
  <div class="gradient-overlay"></div>
  <div class="color-overlay"></div>
</div><!-- /.blog-card -->


      </div>
    </div>
  </div></div>
</div>

