<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Fiche Agents</h4>
            <p class="card-category">Liste des agents</p>
          </div>
          <div ng-app="myApp" ng-controller="charactersCtrl" class="list-group">
            <div class="card-body">
              <div class="table-responsive">
                <div class="input-group no-border">
                  <input
                    type="text"
                    [(ngModel)]="searchText"
                    class="form-control"
                    placeholder="rechercher un agent"
                    (input)="displaycard = false"
                  />
                  <button
                    type="submit"
                    class="btn btn-info"
                    (click)="searchText = ''"
                  >
                    <span class=" fa fa-arrow-left" title="effacer"></span>
                  </button>
                </div>

                <table class="table">
                  <thead class=" text-primary">
                    <th>
                      MLE
                    </th>
                    <th>
                      Nom
                    </th>
                    <th>
                      Prenom
                    </th>
                    <th>
                      adresse
                    </th>
                    <th>
                      tel
                    </th>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let individu of myAgentList | filter: searchText"
                      (click)="agentsChoice(individu)"
                    >
                      <td>
                        {{ individu.mle }}
                      </td>
                      <td>
                        {{ individu.nom }}
                      </td>
                      <td>
                        {{ individu.prenom }}
                      </td>
                      <td>
                        {{ individu.adresse }} {{ individu.cp }}
                        {{ individu.ville }}
                      </td>
                      <td>
                        {{ individu.tel }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="displaycard" class="col-md-4">
        <div class="tab-content" id="nav-tabContent">
          <div
            class="tab-pane fade show active"
            id="list-home"
            role="tabpanel"
            aria-labelledby="list-home-list"
          >
            <div class="blog-card spring-fever">
              <div class="title-content">
                <h3>
                  {{ agentselectionner.nom }} {{ agentselectionner.prenom }}
                </h3>
                <hr />
                <div class="intro ">tel: {{ agentselectionner.tel }}</div>
                <div class="intro ">
                  adresse: {{ agentselectionner.adresse }}
                </div>
                <div class="intro ">
                  Ville: {{ agentselectionner.cp }}
                  {{ agentselectionner.ville }}
                </div>
                <br />
                <div class="card-profile">
                  <div class="card-avatar">
                    <img class="img" src="./assets/img/faces/marc.jpg" />
                  </div>
                </div>
              </div>
              <!-- /.title-content -->
              <div class="card-info">
                Voici mon mail: {{ agentselectionner.email }}
              </div>
              <!-- /.card-info -->
              <div class="utility-info">
                <ul class="utility-list">
                  <li class="comments">
                    Numéro mle: {{ agentselectionner.mle }}
                  </li>
                  <li class="date">
                    Date d'embauche: {{ agentselectionner.dateEmbauche }}
                  </li>
                </ul>
              </div>
              <!-- /.utility-info -->
              <!-- overlays -->
              <div class="gradient-overlay"></div>
              <div class="color-overlay"></div>
            </div>
            <!-- /.blog-card -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
