<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Fiche Agents</h4>
            <p class="card-category">Liste des agents</p>
          </div>
          <div ng-app="myApp" ng-controller="charactersCtrl" class="list-group">
            <div class="card-body">
              <div class="table-responsive">
                <div class="input-group no-border">
                  <input
                    type="text"
                    [(ngModel)]="searchText"
                    class="form-control"
                    placeholder="rechercher un agent"
                    (input)="displaycard = false"
                  />
                  <button
                    type="submit"
                    class="btn btn-info"
                    (click)="effacechoix()"
                  >
                    <span class=" fa fa-arrow-left" title="effacer"></span>
                  </button>
                </div>

                <table class="table">
                  <thead *ngIf="show" class=" text-primary">
                    <th>
                      MLE
                    </th>
                    <th>
                      Nom
                    </th>
                    <th>
                      Prenom
                    </th>
                    <th>
                      adresse
                    </th>
                    <th>
                      tel
                    </th>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let individu of myAgentList | filter: searchText"
                      routerLink="/manager/gestiondesagents/{{individu.consId}}"
                      (click)="agentsChoice(individu)"

                    >
                      <td>
                        {{ individu.consId}}
                      </td>
                      <td>
                        {{ individu.consNom }}
                      </td>
                      <td>
                        {{ individu.consPrenom }}
                      </td>
                      <td>
                        {{ individu.consAdresse }} {{ individu.consCp }}
                        {{ individu.consVille }}
                      </td>
                      <td>
                        {{ individu.consTel }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
<app-detailagent *ngIf="displaycard" ></app-detailagent>

    </div>
  </div>
</div>

