<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title">Modifier un conseiller</h4>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <input
                    matInput
                    [(ngModel)]="agentselectionner.consNom"
                    placeholder="Nom"
                    name="Nom"
                    type="text"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <input
                    matInput
                    [(ngModel)]="agentselectionner.consPrenom"
                    type="text"
                    name="prenom"
                    placeholder="prenom"
                  />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <input
                    matInput
                    [(ngModel)]="agentselectionner.consEmail"
                    type="email"
                    name="email"
                    placeholder="email"
                  />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class="example-full-width">
                  <input
                    matInput
                    [(ngModel)]="agentselectionner.consAdresse"
                    type="text"
                    name="adresse"
                    placeholder="adresse"
                  />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <input
                    matInput
                    [(ngModel)]="agentselectionner.consVille"
                    type="text"
                    name="ville"
                    placeholder="ville"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <input
                    matInput
                    [(ngModel)]="agentselectionner.consCp"
                    type="number"
                    name="cp"
                    placeholder="Code Postal"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <input
                    matInput
                    [ngModel]="
                      agentselectionner.consDateEmbauche | date: 'yyyy-MM-dd'
                    "
                    (ngModelChange)="agentselectionner.consDateEmbauche = $event"
                    type="date"
                    name="dateembauche"
                    placeholder="agentselectionner.consDateEmbauche"
                  />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class="example-full-width">
                  <input
                    matInput
                    [(ngModel)]="agentselectionner.consTel"
                    type="string"
                    name="tel"
                    placeholder="téléphone"
                  />
                </mat-form-field>
              </div>
            </div>
            <button
              mat-raised-button
              type="submit"
              class="btn btn-danger pull-right"
              (click)="modifConsultant()"
              [routerLink]="['/manager/modifierunagent/0']"
            >
              Enregistrer un Agent
            </button>

            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
