.barreHaute {
    width: 1900px;
    
    /*background: lightblue;*/
    position: relative;
    animation-name: haut;
    animation-duration: 1.5s;  
    animation-fill-mode: forwards;
    color: white
    
}

.barreBasse{
    /*background: lightblue;*/
    position: relative;
    animation-name: bas;
    animation-duration: 4.5s;  
    animation-fill-mode: forwards;
    color: white
}

.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 135px;
    color: white;
    animation-name: fadeIn;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    
}

.majTitre{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif
}

@keyframes haut {
    from {right: -1900px;}
    to {right: -10px; }
}

@keyframes bas {
    from {right: 7600px;}
    to {right: -10px; }
}

@keyframes fadeIn {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
 } 